{
	"entityInfo": {
		"name": "net1.client",
		"group": "Clients",
		"distProtocol": "TCP",
		"usePermanentDistKey": false,
		"connectionTimeout": 5000,
		"privateKey": "/app/sst_config_creds/ClientKey.pem"
	},
	"authInfo": {
		"id": 101,
		"host": "10.155.148.120",
		"port": 21900,
		"publicKey": "/app/sst_config_creds/Auth101EntityCert.pem"
	},
	"migrationInfo": [],
	"cryptoInfo": {
		"publicKeyCryptoSpec": {
			"sign": "RSA-SHA256",
			"padding": "RSA_PKCS1_OAEP_PADDING",
			"keySize": 256
		},
		"distributionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		},
		"sessionCryptoSpec": {
			"cipher": "AES-128-CBC",
			"mac": "SHA256"
		}
	},
	"targetServerInfoList": [
		{
			"name": "net1.server",
			"host": "localhost",
			"port": 21100,
			"group": "Servers"
		}
	],
	"contextList": [
		{
			"Number of People": 2,
			"Location": "Classroom",
			"Time of Day": "10:30"
		},
		{
			"Number of People": 1,
			"Location": "Meeting Room",
			"Time of Day": "14:00"
		},
		{
			"Number of People": 4,
			"Location": "Classroom",
			"Time of Day": "12:00"
		},
		{
			"Number of People": 2,
			"Location": "Cafeteria",
			"Time of Day": "11:00"
		},
		{
			"Number of People": 1,
			"Location": "Classroom",
			"Time of Day": "08:30"
		},
		{
			"Number of People": 3,
			"Location": "Classroom",
			"Time of Day": "09:00"
		},
		{
			"Number of People": 2,
			"Location": "Meeting Room",
			"Time of Day": "19:00"
		},
		{
			"Number of People": 3,
			"Location": "Meeting Room",
			"Time of Day": "17:59"
		},
		{
			"Number of People": 5,
			"Location": "Office",
			"Time of Day": "23:00"
		},
		{
			"Number of People": 2,
			"Location": "Classroom",
			"Time of Day": "18:01"
		}
	]
}